<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowchart MVP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='flowchart/css/modal.css') }}" />
</head>

<body>
    <div style="margin: 40px; width: 90%; display: flex;">
        <div style="width: 20%">
            <button type="button" class="btn btn-primary" onclick="openAddModal()">
                Add new Node
            </button>
            <button type="button" class="btn btn-danger" onclick="run()">
                Run
            </button>
        </div>
        <div style="width: 60%">
            <h2 id="h2WorkTitle"></h2>
            <input type="hidden" id="inpWorkId">
        </div>

        <div style="width: 19%; text-align: right;">
            <button type="button" class="btn btn-success" onclick="newFlowchart()">
                New
            </button>
            <button type="button" class="btn btn-success" onclick="saveWorkBtn()">
                Save
            </button>
            <button type="button" class="btn btn-secondary" onclick="loadWorkBtn()">
                Load
            </button>
        </div>
    </div>

    {% include 'flowchart/modal-nodes.html' %}
    {% include 'flowchart/modal-load-work.html' %}
    {% include 'flowchart/modal-save-work.html' %}

    <div id="myDiagramDiv" style="width:100%; height:500px; background-color: #DAE4E4;"></div>

    <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='flowchart/js/modalNodes.js') }}"></script>
    <script src="{{ url_for('static', filename='flowchart/js/modalLoadWork.js') }}"></script>
    <script src="{{ url_for('static', filename='flowchart/js/modalSaveWork.js') }}"></script>
    <script src="{{ url_for('static', filename='flowchart/js/mainScript.js') }}"></script>
</body>

</html>