<div id="mpopupBox" class="mpopup">
    <!-- Modal content -->
    <div class="personal-modal-content">
        <div class="personal-modal-header">
            <span class="close" onclick="closeModal()">×</span>
            <h2>Add New Node</h2>
        </div>
        <div class="personal-modal-body">
            <div id="dvNodeKey" style="display: none;">
                <label for="" class="form-label">Key</label>
                <input id="inpNodeKey" name="nodeKey" type="text" class="form-control" readonly>
            </div>
            <div>
                <label for="" class="form-label">Name</label>
                <input id="inpNodeName" name="nodeName" type="text" class="form-control">
            </div>
            <div>
                <label for="" class="form-label">Type</label>
                <select name="nodeType" id="slcNodeType" class="form-select" onchange="changeNodeTypeModal()">
                    <option value="getRequest">Get Request</option>
                    <option value="postRequest">Post Request</option>
                    <option value="parserData">Parser Data</option>
                </select>

                <div id="dvTypeGet">
                    <div>
                        <label for="" class="form-label">URL</label>
                        <input id="inpUrlGet" name="urlGet" type="text" class="form-control">
                    </div>
                    <div>
                        <label for="" class="form-label">Params</label>
                        <input id="inpParamsGet" name="paramsGet" type="text" class="form-control">
                    </div>
                </div>
                <div id="dvTypePost" style="display: none;">
                    <div>
                        <label for="" class="form-label">URL</label>
                        <input id="inpUrlPost" name="urlPost" type="text" class="form-control">
                    </div>
                    <div>
                        <label for="" class="form-label">Body</label>
                        <input id="inpBodyPost" name="bodyPost" type="text" class="form-control">
                    </div>
                    <div>
                        <label for="" class="form-label">Headers</label>
                        <input id="inpHeadersPost" name="headersPost" type="text" class="form-control">
                    </div>
                </div>
                <div id="dvTypeParser" style="display: none;">
                    <br>
                    <div style="width: 100%; display: flex; justify-content: space-around; border-radius: 2px; border-style: groove;">
                        <div style="width: 65%;">
                            <label for="" class="form-label">Data Input</label>
                            <textarea id="inpDataInputParser" name="dataInputParser" class="form-control"
                                cols="30" rows="13">
                            </textarea>
                        </div>
                        <div style="width: 30%;">
                            <p>Use "((parameterName))" to set your data origin</p>
                            <br>
                            <p>Exemple</p>
                            <div style="background-color: rgb(160, 158, 158)">
                                <pre id="exempleInput"></pre>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div style="width: 100%; display: flex; justify-content: space-around; border-radius: 2px; border-style: groove; padding-bottom: 25px;">
                        <div style="width: 65%;">
                            <label for="" class="form-label">Data Exit</label>
                            <textarea id="inpDataExitParser" name="dataExitParser" class="form-control"
                                cols="30" rows="10">
                            </textarea>
                        </div>
                        <div style="width: 30%;">
                            <p>Use "((parameterName))" to get your data</p>
                            <br>
                            <p>Exemple</p>
                            <div style="background-color: rgb(160, 158, 158)">
                                <pre id="exempleOutput"></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label for="" class="form-label">Color</label>
                <input id="inpNodeColor" name="nodeColor" type="color" class="form-control form-control-color">
            </div>
        </div>
        <div class="personal-modal-footer">
            <button id="btnModalNodesNew" type="button" class="btn btn-primary" onclick="createNewNode()">
                Add
            </button>
            <button id="btnModalNodesEdit" type="button" class="btn btn-primary" onclick="changeNode()">
                Change
            </button>
            <button type="button" class="btn btn-warning" onclick="closeModal()">
                Cancel
            </button>
        </div>
    </div>
</div>

<script>
    let exempleInput = {"hourly":{"temperature_2m":["((hourly_temperature_2m1))"],"time":["((hourly_time1))"]},"latitude":"((latitude))","longitude":"((longitude))"}
    let exempleOutput = {"content":"latitude: ((latitude)) - longitude: ((longitude)) \nHora:((hourly_time1)) -> Temperatura: ((hourly_temperature_2m1))","tts":false}

    document.getElementById("exempleInput").textContent = JSON.stringify(exempleInput, undefined, 2);
    document.getElementById("exempleOutput").textContent = JSON.stringify(exempleOutput, undefined, 2);
</script>
