<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowchart MVP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/modal.css" />
</head>

<body>
    <div style="margin: 40px; width: 90%; display: flex;">
        <div style="width: 80%">
            <button type="button" class="btn btn-primary" onclick="openModal()">
                Add new Node
            </button>
            <button type="button" class="btn btn-danger" onclick="run()">
                Run
            </button>
        </div>

        <div style="width: 19%; text-align: right;">
            <button type="button" class="btn btn-success" onclick="newFlowchart()">
                New
            </button>
            <button type="button" class="btn btn-success" onclick="saveWork()">
                Save
            </button>
            <button type="button" class="btn btn-secondary" onclick="loadWork()">
                Load
            </button>
        </div>
    </div>

    <div id="mpopupBox" class="mpopup">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" onclick="closeModal()">×</span>
                <h2>Add New Node</h2>
            </div>
            <div class="modal-body">
                <div>
                    <label for="" class="form-label">Name</label>
                    <input id="inpNodeName" name="nodeName" type="text" class="form-control">
                </div>
                <div>
                    <label for="" class="form-label">Type</label>
                    <select name="nodeType" id="slcNodeType" class="form-select" onchange="changeNodeTypeModal()">
                        <option value="getRequest">Get Request</option>
                        <option value="postRequest">Post Request</option>
                        <option value="parserData">Parser Data</option>
                    </select>

                    <div id="dvTypeGet">
                        <div>
                            <label for="" class="form-label">URL</label>
                            <input id="inpUrlGet" name="urlGet" type="text" class="form-control">
                        </div>
                        <div>
                            <label for="" class="form-label">Params</label>
                            <input id="inpParamsGet" name="paramsGet" type="text" class="form-control">
                        </div>
                    </div>
                    <div id="dvTypePost" style="display: none;">
                        <div>
                            <label for="" class="form-label">URL</label>
                            <input id="inpUrlPost" name="urlPost" type="text" class="form-control">
                        </div>
                        <div>
                            <label for="" class="form-label">Body</label>
                            <input id="inpBodyPost" name="bodyPost" type="text" class="form-control">
                        </div>
                        <div>
                            <label for="" class="form-label">Headers</label>
                            <input id="inpHeadersPost" name="headersPost" type="text" class="form-control">
                        </div>
                    </div>
                    <div id="dvTypeParser" style="display: none;">
                        <div>
                            <label for="" class="form-label">Data Input</label>
                            <textarea id="inpDataInputParser" name="dataInputParser"
                                class="form-control" cols="30" rows="10"
                            ></textarea>
                        </div>
                        <div>
                            <label for="" class="form-label">Data Exit</label>
                            <textarea id="inpDataExitParser" name="dataExitParser"
                                class="form-control" cols="30" rows="10"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <label for="" class="form-label">Color</label>
                    <input id="inpNodeColor" name="nodeColor" type="color" class="form-control form-control-color">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="createNewNode()">
                    Add
                </button>
                <button type="button" class="btn btn-warning" onclick="closeModal()">
                    Cancel
                </button>
            </div>
        </div>
    </div>

    <div id="myDiagramDiv" style="width:100%; height:500px; background-color: #DAE4E4;"></div>

    <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/mainScript.js"></script>
</body>

</html>
